body {
    margin: 0;
    padding: 0;
}

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 1%;
}

a {
    text-decoration: none;
}

button {
    padding: 1%;
    border: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: firebrick;
}

h1, h4 {
    text-align: center;
    color: darkred;
}

.card-body{
    background-color:darkred;
    color: white !important;
}

.card-body .text-muted{
    color: white !important;
}

.card-body:hover .text-muted{
    color: black !important;
}

.card-body:hover{
    background-color:firebrick;
    color: black !important;
}


#a1{
    background-image: url(./img/hamburguesas/burguerpollocruj.jpg);
    display: flex;
    background-size: cover;
}
#a2{
    background-image: url(./img/hamburguesas/burguersolocarne.jpeg);
    display: flex;
    background-size: cover;
}
#a3{
    background-image: url(./img/hamburguesas/burguerquesobacon.jpeg);
    display: flex;
    background-size: cover;
}
#a4{
    background-image: url(./img/hamburguesas/hamburguesacompleta.jpg);
    display: flex;
    background-size: cover;
}
#a5{
    background-image: url(./img/hamburguesas/burguerdelacasa.jpg);
    display: flex;
    background-size: cover;
}
#a6{
    background-image: url(./img/hamburguesas/burgueresquinita.avif);
    display: flex;
    background-size: cover;
}