footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer p span {
    display: inline-block;
    margin-right: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 1%;
}

a {
    text-decoration: none;
}

button {
    padding: 1%;
    border: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: firebrick;
}

h1 {
    text-align: center;
    color: darkred;
}

.card-body{
    background-color:darkred;
    color: white !important;
}

.card-body .text-muted{
    color: white !important;
}

.card-body:hover .text-muted{
    color: black !important;
}

.card-body:hover{
    background-color:firebrick;
    color: black !important;
}


#a1{
    background-image: url(./img/pamboli/pamboli-jamon.jpeg);
    display: flex;
    background-size: cover;
}


#a2{
    background-image: url(./img/pamboli/pa-amb-oli-de-jamon-iberico.jpg);
    display: flex;
    background-size: cover;
}

#a3{
    background-image: url(./img/pamboli/el-pamboli-jamon-queso.jpg);
    display: flex;
    background-size: cover;
}

#a4{
    background-image: url(./img/pamboli/pamboli\ calamares.jpeg);
    display: flex;
    background-size: cover;
}

#a5{
    background-image: url(./img/pamboli/sobrasada-\ pamboli.jpg);
    display: flex;
    background-size: cover;
}

#a6{
    background-image: url(./img/pamboli/pamboli-escalope.jpg);
    display: flex;
    background-size: cover;
}

#a7{
    background-image: url(./img/pamboli/pamboli.pollo.jpg);
    display: flex;
    background-size: cover;
}

#a8{
    background-image: url(./img/pamboli/pamboli-salchicon.jpg);
    display: flex;
    background-size: cover;
}

#a9{
    background-image: url(./img/pamboli/quesocurado-pamboli.jpg);
    display: flex;
    background-size: cover;
}

