body {
    margin: 0;
    padding: 0;
}

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 1%;
}

a {
    text-decoration: none;
}

button {
    padding: 1%;
    border: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: firebrick;
}

h1 {
    text-align: center;
    color: darkred;
}

.card-body{
    background-color:darkred;
    color: white !important;
}

.card-body .text-muted{
    color: white !important;
}

.card-body:hover .text-muted{
    color: black !important;
}

.card-body:hover{
    background-color:firebrick;
    color: black !important;
}


#a1{
    background-image: url(./img/raciones/alitas.jpg);
    display: flex;
    background-size: cover;
}


#a2{
    background-image: url(./img/raciones/alitasPicantes.jpg);
    display: flex;
    background-size: cover;
}

#a3{
    background-image: url(./img/raciones/pimientosPadron.jpg);
    display: flex;
    background-size: cover;
}

#a4{
    background-image: url(./img/raciones/patatasFritas.jpg);
    display: flex;
    background-size: cover;
}

#a5{
    background-image: url(./img/raciones/patatasBravas.jpeg);
    display: flex;
    background-size: cover;
}

#a6{
    background-image: url(./img/raciones/patatasAlioli.jpg);
    display: flex;
    background-size: cover;
}

#a7{
    background-image: url(./img/raciones/calamaresAndaluza.jpg);
    display: flex;
    background-size: cover;
}

#a8{
    background-image: url(./img/raciones/huevosPatatasPim.jpg);
    display: flex;
    background-size: cover;
}

#a9{
    background-image: url(./img/raciones/caracoles.jpg);
    display: flex;
    background-size: cover;
}

#a10{
    background-image: url(./img/raciones/croquetas.jpg);
    display: flex;
    background-size: cover;
}

#a11{
    background-image: url(./img/raciones/pantostao.JPG);
    display: flex;
    background-size: cover;
}

#a12{
    background-image: url(./img/raciones/rabas.jpg);
    display: flex;
    background-size: cover;
}

#a13{
    background-image: url(./img/raciones/gulas.jpeg);
    display: flex;
    background-size: cover;
}

#a14{
    background-image: url(./img/raciones/huevosRotos.jpg);
    display: flex;
    background-size: cover;
}

#a15{
    background-image: url(./img/raciones/patatasFritasJamon.jpg);
    display: flex;
    background-size: cover;
}