.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 1%;
}

button {
    padding: 1%;
    border: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: firebrick;
}

.card-body{
    background-color:darkred;
    color: white !important;
}

.card-body .text-muted{
    color: white !important;
}

.card-body:hover .text-muted{
    color: black !important;
}

.card-body:hover{
    background-color:firebrick;
    color: black !important;
}


#a1{
    background-image: url(./img/raciones/alitas.jpg);
    display: flex;
    background-size: cover;
}


#a2{
    background-image: url(./img/raciones/alitasPicantes.jpg);
    display: flex;
    background-size: cover;
}

#a3{
    background-image: url(./img/raciones/pimientosPadron.jpg);
    display: flex;
    background-size: cover;
}

#a4{
    background-image: url(./img/raciones/patatasFritas.jpg);
    display: flex;
    background-size: cover;
}

#a5{
    background-image: url(./img/raciones/patatasBravas.jpeg);
    display: flex;
    background-size: cover;
}

#a6{
    background-image: url(./img/raciones/patatasAlioli.jpg);
    display: flex;
    background-size: cover;
}

#a7{
    background-image: url(./img/raciones/calamaresAndaluza.jpg);
    display: flex;
    background-size: cover;
}

#a8{
    background-image: url(./img/raciones/huevosPatatasPim.jpg);
    display: flex;
    background-size: cover;
}