footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer p span {
    display: inline-block;
    margin-right: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 100%;
    padding: 1%;
}

#arriba, #abajo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    width: 100%;
    padding: 1%;
}

button {
    padding: 1%;
    border: none;
    background-color: darkred;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button:hover {
    background-color: firebrick;
}

h1 {
    text-align: center;
    color: darkred;
}

.card-body{
    background-color:darkred;
    color: white !important;
}

.card-body .text-muted{
    color: white !important;
}

.card-body:hover .text-muted{
    color: black !important;
}

.card-body:hover{
    background-color:firebrick;
    color: black !important;
}
#a1{
    background-image: url(./img/tablas/Tapa_iberica.jpg);
    display: flex;
    background-size: cover;
}


#a2{
    background-image: url(./img/tablas/tablajamon.png.jpg);
    display: flex;
    background-size: cover;
}

#a3{
    background-image: url(./img/tablas/tabla-iberica-queso.webp);
    display: flex;
    background-size: cover;
}

#a4{
    background-image: url(./img/tablas/tabla-queso-curado.jpg);
    display: flex;
    background-size: cover;
}

@media (max-width: 768px) {
    .botones{
        flex-wrap: wrap;
    }
}